<div class="card" data-aos="fade-up">
    <div id="utteranc-container" class="card-content">
        <script src="https://utteranc.es/client.js"
                repo="liukgg/comment-utterances"
                issue-term="pathname"
                theme="github-light"
                crossorigin="anonymous"
                async>
        </script>
    </div>
</div>

<!--<div class="card gitalk-card" data-aos="fade-up">-->
<!--        <div class="comment_headling" style="font-size: 20px; font-weight: 700; position: relative; padding-left: 20px; top: 15px; padding-bottom: 5px;">-->
<!--            <i class="fas fa-comments fa-fw" aria-hidden="true"></i>-->
<!--            <span>评论</span>-->
<!--        </div>-->
<!--    <div id="utteranc-container" class="card-content">-->
<!--        <script src="https://utteranc.es/client.js"-->
<!--                repo="liukgg/comment-utterances"-->
<!--                issue-term="pathname"-->
<!--                theme="github-light"-->
<!--                crossorigin="anonymous"-->
<!--                async>-->
<!--        </script>-->
<!--    </div>-->
<!--</div>-->
